*~
*.bak
m4
autom4te.cache
config
configure
config.status
config.log
aclocal.m4
libtool
Makefile.in
Makefile
msvs9
vs9
nmake*
*.o
*.lo
*.Plo
*.swp
*.la
*.kdev4
*.orig
*.pyc
.cproject
.project
.pydevproject
.settings

.libs/
.deps/
.externalToolBuilders
build*/**
release/
debug/
dev/
*.tgz
*.sha1sum
