@import "./color_schemes/light";

$body-text-color: $grey-dk-200;
$link-color: $blue-100;
$nav-child-link-color: $grey-dk-100 !default;
$sidebar-color: $ltgrayblue;
$code-background-color: $grey-lt-100;
