.site-title {
    color: $grey-dk-250;
    font-weight: 700;
}
  
.site-footer {
    color: $grey-dk-200;
}

table.nav-table {
    color: white;
    background-color: #227efa;
}

table.nav-table td {
    text-align: center;
    color: white;
    background-color: #227efa;
    font-weight: bold;
    width: 16%
}

table.nav-table td:first-of-type {
    text-align: left;
    width: 42%;
}

table.nav-table td:last-of-type {
    text-align: right;
    width: 42%
}

table.nav-table a {
    color: white;
    text-decoration: none;
}

table.nav-table a:hover {
    color: yellow;
    text-decoration: none;
}

table.nav-table td {
    padding-bottom: 0.4rem;
    padding-top:    0.4rem;
}

p.caption {
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 0px;
    margin-bottom: 18px;
}

blockquote.blue-note {
    background-color: #CCE0FF;
    border-left: 10px solid #4444cc;
    padding-top: 4px;
    padding-bottom: 4px;
}

blockquote.red-warning {
    background-color: #eebbbb;
    border-left: 10px solid #aa3355;
    padding-top: 4px;
    padding-bottom: 4px;
}

.image-tight {
    margin-bottom: 1px;
}

/* Third of outline */
.nav-list .nav-list .nav-list > .nav-list-item {
    background-color: aliceblue;
    color: yellow;
}

