.site-title {
    color: $grey-dk-250;
    font-weight: 700;
}
  
.site-footer {
    color: $grey-dk-200;
}

table.nav-table {
    color: white;
    background-color: #227efa;
}

table.nav-table td {
    text-align: center;
    color: white;
    background-color: #227efa;
    font-weight: bold;
    width: 12%;
    font-size: .95rem;
    line-height: 1;
}

table.nav-table td:first-of-type {
    text-align: left;
    width: 44%;
}

table.nav-table td:last-of-type {
    text-align: right;
    width: 44%
}

table.nav-table a {
    color: white;
    text-decoration: none;
}

table.nav-table a:hover {
    color: #CCE0FF;
    text-decoration: none;
}

table.nav-table td {
    padding-bottom: 0.4rem;
    padding-top:    0.4rem;
}

p.caption {
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 0px;
    margin-bottom: 18px;
}

blockquote.blue-note {
    background-color: #CCE0FF;
    border-left: 10px solid #4444cc;
    padding-top: 2px;
    padding-bottom: 2px;
}

blockquote.red-warning {
    background-color: #eebbbb;
    border-left: 10px solid #aa3355;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* To avoid a lot of space between the image and the caption: */
.image-tight {
    margin-bottom: 1px;
}

/* Third level of outline */
.nav-list .nav-list .nav-list > .nav-list-item a {
    font-size: 0.75rem !important;
}

